<div style="width:10000px; ">
				<div id="master" style="float:left; width:920px; margin: 0px auto;">

							<div style="width:800px; margin:0px auto;">
			<div  >
              <h1><%= profile.fullname %>'s Attendance</h1>
					<span class="sml">
					<p>The standards of attendance should be maintained to
prevent the giving of school credits to students who do
not meet the minimum attendance requirements. The
checking of attendance is the responsibility of the faculty.
On the other hand it is the responsibility of the student to
keep track of his absences so that he knows when his
classcard may have been submitted and thus he can claim
it before he goes back to his class.</p><br/><p>A student who has incurred
absences of more than 20% of the required number of
class and laboratory periods in a given subject should be
given a DROPPED (D) mark.</p>
<br/>
</span>
			</div>
				<b>Attendance status: </b>	<span class="sml" style=" display:inline-block; "> </span>
					<ul class="sml">

						<br/>
						<li><b>Currently Dropped Classcards:</b>
							<ul style="margin-left:25px;"   >
                              <% @absences.each do |attendance| %>
                                <li> <%= attendance.courseNo %> : <%= attendance.absences   %> absences : <%= attendance.get_status %></li>
                                  <% end %>
							</ul>
						<br/>
						</li>


					</ul>
					<br/>
	
					

				<br/>





				</div>
				</div>
					
					

					
					

				</div>