<div class="grid_6">
		<h1>About OASIS</h1>

			The Online Access Student Information System (OASIS) is a web-based application that enables parents/guardians (known as users henceforth) to view school information which pertains to their student/child (known as wards henceforth). All relevant information shown in the application is retrieved from the Management Information System (MIS) Office and Accounting Office. The users can view the wards school information through the OASIS anywhere as long as the users have access to the Internet. To ensure the security of the wards school information, our proposed system will require a username and password for the users to view their own ward/s information.
			<br/><br/>
		<h1>Who we are</h1>

		of Saint Louis University.  They proposed and developed the Online Access Student Information System in order to alleviate the communication gap between parents/guardians and the University.

They are namely,
<ul style="list-style:square;margin-left:35px;"><li>Jesus Anthony Aguas</li>
<li>Anton Yoel Buenavista</li>
<li>Richard James Clemente</li>
<li>Jonah Jose Espelita</li>
<li>Noreen Danielle Fabia</li>
<li>Franklin Anthony Go</li>
<li>Kasima Rose Mendoza</li>
<li>BJ Saringan</li>
</ul>

		</div> 