

		<div class="grid_12"></div>
		<div class="grid_12 sml" style=" text-align:justify;">
		<h1>Contact Us</h1>
		<p>Our postal address  is <br />
    <strong>Saint Louis University<br />
      Bonifacio Street</strong><strong>, Baguio</strong><strong> City</strong><br />
  <strong>2600 Philippines</strong></p>
<p>We can be reached via e-mail at contactus@oasis.slu.edu.ph<br />
  or you can reach us by telephone at (+6374)  442-3043</p>

		</div> 