<div class="grid_12 sml" style=" text-align:justify;">
		<h1>Privacy Policies</h1>
		<p>This policy covers  the treatment of OASIS to personal information OASIS collects and receives as  well as academic and personal information of SLU Students OASIS shares to its  users (registered/Follower and non-registered/Visitors).<br /><br />
    <em>Information  Gathering and Disclosure</em><br /><br />
  USERS (REGISTERED  PARENTS AND GUARDIANS/FOLLOWERS)<br /><br />
  Parents  of SLU Students are invited to register in OASIS through mailing them an OASIS  Registration letter containing a Student Verification Code (SVC). Parents may  share the SVC to their relatives or anyone they trust and let them register and  be followers of their child.<br /><br />
  OASIS  collects personal information when one registers to the OASIS. The information that is to be asked from the  registering visitor will be the user's full name which comprises of the first  name, last name and middle initial, postal address and valid e-mail address.<br /><br />
  When one  registers, s/he will be known as a Follower of a Ward. Followers can know how  many other Followers their Ward has. The only information accessible to other  Followers is the Full Name of the Follower.<br /><br />
  SLU STUDENTS (WARDS)<br /><br />
  Saint    Louis   University is concern with the  privacy of their students regarding their academic and personal information.  Through OASIS, Parents or Guardians can access an SLU Student's academic and  personal information online. SLU trust OASIS with the privacy of these  retrieved information that OASIS shares to its users. OASIS limits its registered  users with only those who can provide a Student Verification Code of SLU  Student a registering visitor wants to monitor (follow).<br /><br />
  When  one is already registered (a "Follower"), the Follower can have access to  his/her Ward's academic and personal information online. Ward's personal  information is Name, Course, year, Mother's name, Father's name,  Guardian's name, Baguio  address, provincial address, status, scholarship and number of siblings.  Academic information is the Ward's Schedule, Attendance, Checklist, Grades,  Fees, Violations and Guidance Information. Followers can also view the Ward's  photo, which is the Ward's School ID picture.<br /><br />
  Aside  from the security measures OASIS provides, A Follower shares responsibility to  a Ward's personal and academic information since the access to the Ward's  personal and academic information is limited to the Ward's Followers.<br /><br />
  GENERAL (Visitors and Users)<br /><br />
  We collect the  following information from everyone who visits the  OASIS:</p>
<ol>
<li>Name  of the domain from which you access the Internet;</li>
  <li>The  type of browser and operating system used to access the OASIS website;</li>
  <li>The  date and time of access;</li>
  <li>The  page where the user entered, the pages accessed, and the page exited; and</li>
  <li>The user's IP  (Internet Protocol) address.</li>
</ol> 
<p>The above information would be  used to count the number and types of visitors to the different pages in the OASIS for statistical analyses to  assist the OASIS Team in improving the site's usefulness. We do not provide users or visitors with  access to the abovementioned non-personal information that we have collected  and that we maintain about them.<br /><br />
  The information we collect is  used to improve the content of the OASIS and used to notify users about updates in the OASIS. OASIS discloses information when legally required to do so, at  the request of government authorities conducting an investigation, to verify or  enforce compliance with the policies governing the OASIS and applicable laws or  to protect against misuse or unauthorized use of the OASIS.<br /><br />
  <em>Use  of Information</em><br /><br />
  From time to time,  we may use user information for new, unanticipated uses not previously  disclosed in our privacy notice. Users  may prevent their information from being used for purposes other than those for  which it was originally collected by e-mailing us at the OASIS e-mail address.<br /><br />
  <em>Cookies</em><br /><br />
  With respect to cookies: We use  cookies to store users' and visitors' preferences, record session information,  such as log-in and log-out timestamps, record past activity at a site in order  to provide better service when visitors return to our site, customize OASIS'  content based on visitors' and users' browser type or other information that  the visitors and users send.<br /><br />
  If a user does not want to  receive e-mail from the OASIS regarding updates and notifications in the site,  the user may choose to not receive such e-mails by turning off the e-mail  notifications in the Account Settings.<br /><br />
  <em>Advertisements</em><br /><br />
  With respect to Ad Servers: We  do not partner with or have special relationships with any ad server companies.<br /><br />
  <em>Security  and Confidentiality</em><br /><br />
  With respect to security: We  have appropriate security measures in place in our physical facilities to  protect against the loss, misuse or alteration of information that we have  collected from you and the information we share to you at our site.<br /><br />
  If you feel that this site is  not following its stated information policy, you may contact us at the above  addresses or phone number.<br /><br />
  <em>Privacy  Policy Changes</em><br /><br />
  OASIS may update its privacy  policy. If our information practices  change at some time in the future we will post the policy changes at the OASIS  website to notify the users and visitors of these changes and provide them with  the ability to opt out of these new uses. If you are concerned about how your  information is used, you should check back at the OASIS website periodically.</p>

		</div>