<div class="grid_12" ></div
		><div class="grid_12" >
		<h1 >The OASIS site map.</h1>
		<span class="sml">	</span>
		<div>
			<ul class="sml" style="text-align:left; list-style:square; margin-left:50px; font-size:15pt;">
				<li><a href="reg1.html">Register</a></li>
				<li><a href="index.html">Login</a></li>
				<li><a href="forgot.html">Forgot Password/Username</a></li>
				<li><a href="http://www.slu.edu.ph/">About Saint Louis University</a></li>
				<li><a href="about.html">About OASIS</a></li>
				<li><a href="faq.html">Help</a></li>
			</ul>
		</div> 