<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>
<head>
<title>User Administrator</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!-- webfxlayout.js -->
<script type="text/javascript">
/* this is a dummy webfxlayout file to be used in download zip files */


/* Do includes */

if (window.pathToRoot == null)
  pathToRoot = "./";

document.write('<link type="text/css" rel="stylesheet" href="local/webfxlayout.css">');
webfxMenuDefaultImagePath = pathToRoot + "images/";

/* end includes */

/* set up browser checks and add a simple emulation for IE4 */

// check browsers
var op = /opera 5|opera\/5/i.test(navigator.userAgent);
var ie = !op && /msie/i.test(navigator.userAgent);  // preventing opera to be identified as ie
var mz = !op && /mozilla\/5/i.test(navigator.userAgent);  // preventing opera to be identified as mz

if (ie && document.getElementById == null) {  // ie4
  document.getElementById = function(sId) {
    return document.all[sId];
  };
}

/* end browser checks */
if (ie && window.attachEvent) {
  window.attachEvent("onload", function () {
    var scrollBorderColor  =  "rgb(120,172,255)";
    var scrollFaceColor    =  "rgb(234,242,255)";
    with (document.body.style) {
      scrollbarDarkShadowColor  =  scrollBorderColor;
      scrollbar3dLightColor    =  scrollBorderColor;
      scrollbarArrowColor      =  "black";
      scrollbarBaseColor      =  scrollFaceColor;
      scrollbarFaceColor      =  scrollFaceColor;
      scrollbarHighlightColor    =  scrollFaceColor;
      scrollbarShadowColor    =  scrollFaceColor;
      scrollbarTrackColor      =  "white";
    }
  });
}

/* we also need some dummy constructors */
webfxMenuBar = {
  add : function () {}
};
function WebFXMenu() {
  this.add = function () {};
}
function WebFXMenuItem() {}
function WebFXMenuSeparator() {}
function WebFXMenuButton() {}
</script>

<link href="css/dirlister.css" type="text/css" rel="stylesheet">
<link href="css/dirlister_style.css" type="text/css" rel="stylesheet">
<link rel="stylesheet" type="text/css" media="all" href="myStyles.css">
<script type="text/javascript" src="/javascripts/webLayout.js"></script>
<script type="text/javascript" src="/javascripts/bwslist.js"></script>

</head>
<body>

<script type="text/javascript">
	function setLinkSrc( sStyle ) {
	  document.getElementById( "luna-tab-style-sheet" ).disabled = sStyle != "luna";
	  document.getElementById( "webfx-tab-style-sheet" ).disabled = sStyle != "webfx"
	  document.getElementById( "winclassic-tab-style-sheet" ).disabled = sStyle != "winclassic"
	  
	  document.documentElement.style.background = 
	  document.body.style.background = sStyle == "webfx" ? "white" : "ThreeDFace";  
	}

	setLinkSrc( "luna" );
</script>

<div class="container">
	
	<div class="admin_title"><b>User Administrator</b></div>
	<div class="topmenu" style="left:176px;">
		<a href="Login.html" style="text-decoration:none;">Logout</a>
		|
		<a href="UA_Settings.html" style="text-decoration:none;">Change Password</a>
		<hr />		
	</div>
	
	<div class="logo">
		<div class="invis">
			<h1>OASIS</h1><br/><h2>Online Access Student Information System</h2>
		</div>
	</div>
	
	<div class="slu">
		<div class="invis">
			<h2>Saint Louis University</h2>
		</div>
	</div>
	
	
	
	<div class="tab-pane">

	<script type="text/javascript">
	tp1 = new WebFXTabPane( document.getElementById( "tabPane1" ) );
	//tp1.setClassNameTag( "dynamic-tab-pane-control-luna" );
	//alert( 0 )
	</script>

	  <div class="tab-page" id="tabPage1">
	    <h2 class="tab">User Management</h2>
	    
	    <script type="text/javascript">tp1.addTabPage( document.getElementById( "tabPage1" ) );</script>
		
		Search: <select><option>All</option><option>Blocked</option><option>Last Name</option></select> <input type="button" value="Search">
		<div class="sys_groupbox1">
			<fieldset class="fieldset" style="width: 400px; height:573px;">
				<legend class="groupbox">Users</legend>
				<script language="text/javascript" type="text/javascript">
					<!--
					//  let's create our list object
					var nlr5=new mylist('nlr5','dvia5',4,100,150,70,100);
					//  set it's width and height  
					nlr5.setDims(300,100);
					//  create array for item addition - you can use the same array for the header and items
					var ae=new Array(4);
					//  fill the array with contents (now for the header)
					ae[0]='Username';
					ae[1]='Name';
					ae[2]='# of Wards';
					ae[3]='Status';
					//  update the header and redraw
					nlr5.updateHeader(ae);
					ae[0]='tagbat';
					ae[1]='Raphael Trilcoy';
					ae[2]='1';
					ae[3]='Active';
					nlr5.silentAdd(ae);					
					ae[0]='superfather';
					ae[1]='Farman Galow';
					ae[2]='2';
					ae[3]='Active';
					nlr5.silentAdd(ae);
					ae[0]='doctormom';
					ae[1]='Steth Oscope';
					ae[2]='1';
					ae[3]='Blocked';
					nlr5.silentAdd(ae);
					ae[0]='macatag';
					ae[1]='Jose Macatag';
					ae[2]='3';
					ae[3]='Blocked';
					nlr5.silentAdd(ae);					
					ae[0]='dreamerdrummer';
					ae[1]='Tommy Lee';
					ae[2]='4';
					ae[3]='Active';
					nlr5.silentAdd(ae);					
					ae[0]='superguardian';
					ae[1]='Jonathan Kent';
					ae[2]='2';
					ae[3]='Blocked';
					nlr5.silentAdd(ae);
					ae[0]='lindows';
					ae[1]='Dough Nux';
					ae[2]='2';
					ae[3]='Active';
					nlr5.silentAdd(ae);
					ae[0]='overnighter';
					ae[1]='Ace Ventura';
					ae[2]='5';
					ae[3]='Active';
					nlr5.silentAdd(ae);
					ae[0]='shreker';
					ae[1]='Fiona Giselle';
					ae[2]='1';
					ae[3]='Active';
					nlr5.silentAdd(ae);					
					ae[0]='converse';
					ae[1]='Chuck Taylor';
					ae[2]='3';
					ae[3]='Blocked';
					nlr5.silentAdd(ae);
					ae[0]='cutestmom';
					ae[1]='Missy Lohan';
					ae[2]='6';
					ae[3]='Active';
					nlr5.silentAdd(ae);
					ae[0]='bleeder';
					ae[1]='Leona Lewis';
					ae[2]='1';
					ae[3]='Active';
					nlr5.silentAdd(ae);					
					ae[0]='loveis';
					ae[1]='Sung Hsu';
					ae[2]='1';
					ae[3]='Active';
					nlr5.silentAdd(ae);					
					ae[0]='';
					ae[1]='';
					ae[2]='';
					ae[3]='';
					nlr5.silentAdd(ae);
					ae[0]='';
					ae[1]='';
					ae[2]='';
					ae[3]='';
					nlr5.silentAdd(ae);
					ae[0]='';
					ae[1]='';
					ae[2]='';
					ae[3]='';
					nlr5.silentAdd(ae);
					ae[0]='';
					ae[1]='';
					ae[2]='';
					ae[3]='';
					nlr5.silentAdd(ae);					
					ae[0]='';
					ae[1]='';
					ae[2]='';
					ae[3]='';
					nlr5.silentAdd(ae);
					ae[0]='';
					ae[1]='';
					ae[2]='';
					ae[3]='';
					nlr5.silentAdd(ae);
					ae[0]='';
					ae[1]='';
					ae[2]='';
					ae[3]='';
					nlr5.silentAdd(ae);					
					ae[0]='';
					ae[1]='';
					ae[2]='';
					ae[3]='';
					nlr5.silentAdd(ae);					
					ae[0]='';
					ae[1]='';
					ae[2]='';
					ae[3]='';
					nlr5.silentAdd(ae);
					ae[0]='';
					ae[1]='';
					ae[2]='';
					ae[3]='';
					nlr5.silentAdd(ae);
					ae[0]='';
					ae[1]='';
					ae[2]='';
					ae[3]='';
					nlr5.silentAdd(ae);
					
					nlr5.draw();
					-->  
				</script>
				<br />
				<div style="position:relative; float:right; top:-3px;">
					<input type="button" name="btn" value="Block">
					<input type="button" name="btn" value="Unblock">
				</div>
		    </fieldset>
		</div>
		<div class="sys_groupbox2">
			<fieldset class="fieldset" style="width:430px; height:573px;">
				<legend class="groupbox">Edit</legend>
					<div style="float:left; left:10px; text-align:right; width:155px;">
						<span style="position:relative; top:3px;">
							Name: <br />
						</span>
						<span style="position:relative; top:17px;">
							Address: <br />
						</span>
						<span style="position:relative; top:31px;">
							E-mail: <br />
						</span>
						<span style="position:relative; top:48px;">
							Last Date/Time Logged in: <br />
						</span>
						<span style="position:relative; top:69px;">
							Student/s being followed:
						</span>
					</div>
					<div style="position:relative; float:left; width: 80px;">
						<span style="position:relative; top:0px;">
							<input type="text" size="40" /><br />
						</span>
						<span style="position:relative; top:8px;">
							<input type="text" size="40" /><br />
						</span>
						<span style="position:relative; top:17px;">
							<input type="text" size="40" />
						</span>
						<span style="position:relative; top:28px;">
							<input type="text" size="40" />
						</span>
						<span style="position:relative; top:42px;">
							<input type="text" size="40" style="height:380px;" />
						</span>
						<span style="position:relative; float:right; top:58px; left:185px;">
							<input type="button" value="Save" />
						</span>
					</div>
		    </fieldset>		
		</div>
		
	  </div>

	  <div class="tab-page" id="tabPage2">
	    <h2 class="tab">User Query</h2>
	    
	    <script type="text/javascript">tp1.addTabPage( document.getElementById( "tabPage2" ) );</script>
	    
		From: <select><option>September 15, 2008</option></select>&nbsp;&nbsp;&nbsp;To: <select><option>September 20, 2008</option></select>
		&nbsp;&nbsp;<input type="button" value="Filter" />
		<br /><br />
		
		<fieldset class="fieldset" style="width:920px; height:240px;">

			<script language="text/javascript" type="text/javascript">
				<!--
				//  let's create our list object
				var nlr6=new mylist('nlr6','dvia6',4,230,200,320,150);
				//  set it's width and height  
				nlr6.setDims(300,100);
				//  create array for item addition - you can use the same array for the header and items
				var af=new Array(4);
				//  fill the array with contents (now for the header)
				af[0]='From';
				af[1]='E-mail';
				af[2]='Subject';				
				af[3]='Date/Time';

				//  update the header and redraw
				nlr6.updateHeader(af);

				af[0]='Raphael Trilcoy';
				af[1]='trilogy@hotmail.com';
				af[2]='Delete my account';
				af[3]='9-15-2008 8:15AM';
				nlr6.silentAdd(af);
				af[0]='Perez Hilton';
				af[1]='pereznight@yahoo.com';
				af[2]='Delete my ward';
				af[3]='9-15-2008 10:00AM';
				nlr6.silentAdd(af);
				af[0]='Steve Rogers';
				af[1]='captainamerica@gmail.com';
				af[2]='I cannot add my ward';
				af[3]='9-16-2008:45PM';
				nlr6.silentAdd(af);
				af[0]='Diana Prince';
				af[1]='wonderwoman@yahoo.com';
				af[2]='Login Session Expired';
				af[3]='9-19-2008 5:55PM';
				nlr6.silentAdd(af);
				af[0]='Pamela Song';
				af[1]='pams@hotmail.com';
				af[2]='Page cannot be displayed';
				af[3]='9-19-2008 7:00PM';
				nlr6.silentAdd(af);
				af[0]='Fiona Giselle';
				af[1]='shreker@yahoo.com';
				af[2]='Layout problem';
				af[3]='9-19-2008 7:15PM';
				nlr6.silentAdd(af);
				af[0]='Jonathan Kent';
				af[1]='kent@gmail.com';
				af[2]='I did not receive any letter';
				af[3]='9-20-2008 10:00AM';
				nlr6.silentAdd(af);
				af[0]='';
				af[1]='';
				af[2]='';
				af[3]='';
				nlr6.silentAdd(af);				
			
				nlr6.draw();
				-->  
			</script>
			<div style="position:absolute; top:263px; width:96%;">
				<span style="position:relative; float:right">
					<input type="button" value="Reply"> <input type="button" value="Delete">
				</span>
			</div>
			
		</fieldset>
	    
		<fieldset class="fieldset" style="width: 920px; height: 80px;">
		<legend class="groupbox">Sender</legend>
		From: Diana Prince <wonderwoman@yahoo.com><br /><br />
		Subject: Login Session Expired
		</fieldset>
		
		<fieldset class="fieldset" style="width: 920px; height: 208px;">
		<legend class="groupbox">Message</legend>
		Greetings. I currently do not understand what session expiration means. Kindly shed some light on the subject.
		</fieldset>
		
	  </div>	  
	 	   
	</div>

</div> <!--end of container-->

<script type="text/javascript">

setupAllTabs();


</script>

</body>
</html>

