<div class="grid_8" id = "reg">
		<div id="sos3"></div>
		<div id="top_r"></div>
		<div id="side_r">
          <b>Congratulations! You have added</b> <span id="ward"> <%= flash[:notice] %> </span><b>as your ward.</b><br/>

<%= link_to "Click here to view profile.", wards_path %>
		

		</div>
		<div id="bot_r"></div>
	</div>

	<div class="grid_4" id ="tehside_r">
	<div id="par3"><p>To ensure the security of the ward&#39;s school information, our proposed system will require a username and password for the users to view their own ward/s' information. 	</p></div>
		<div id="pic_r3"></div>

	</div>